.xpCardContainer {
    border-radius: 20px;
    border: 2px solid rgb(151, 151, 151);
    margin: 10px;
    width: 40%;
}

.xpCardContainer h2 {
    text-align: center;
    font-weight: 500;
    color: rgb(151, 151, 151);
}

  /*Grid - S*/
.skillsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 3vw;
    padding-bottom: 20px;
}
.skill {
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 10px
}
/*Grid - E*/

/* Flex Wrap - S
.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    padding-bottom: 20px;
    gap: 2rem;
}


.skill {
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    min-width:15ch;
    gap: 1rem;
}
 Flex Wrap - E*/

.skill li {
    font-size: 20px;
}

.skill i {
    font-size: 25px;
}

/* Tablet Styling */
@media (max-width: 768px) {
    .xpCardContainer {
        width: 100%;
    }
    .skill {
        min-width: 13ch;
    }
    .skill li {
        font-size: 17px;
    }
}

/* Mobile-L Styling */
@media (max-width: 425px) {
    .skill li {
        font-size: 15px;
    }

    .skill i {
        font-size: 20px;
    }
}

/* Mobile-M Styling */
@media(max-width: 375px) {
    .skill {
        min-width: 11ch;
    }
}

/* Mobile-S Styling */
@media(max-width: 320px) {
    .xpCardContainer h2 {
        font-size: 20px;
    }
    .skill {
        min-width: 30vw;
    }

    .skill li {
        font-size: 12px;
    }

    .skill i {
        font-size: 17px;
    }
}