.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 10rem;*/
    flex-direction: column;
    margin-left: 2rem;
    width: 60vw;
    border-radius: 20px;
    border: 2px solid rgb(151, 151, 151);
}
.cardHeader{
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cardHeader h2{
    padding: 0;
    margin-bottom: 0.1em;
    font-size: clamp(20px, 2vw, 25px)
}
.cardText{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 500;
    padding-bottom: 10px;
    
}
.cardText p{
    padding: 0;
    margin-right: 2rem;
    margin-bottom: 0;
    font-size: clamp(14px, 1.5vw, 18px);
    color: rgb(151, 151, 151);
}

@media (max-width: 768px){ /* Tablet styling */
    .cardContainer{
        width: 80vw;
        margin: 1em 2em;
    }
}   