.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 10rem;*/
    flex-direction: column;
    margin-left: 2rem;
    width: 60vw;
    border-radius: 20px;
    border: 1px solid rgb(170, 170, 170);
    font-family: Arial, Helvetica, sans-serif;
}
.cardHeader{
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cardHeader p{
    color: rgb(78, 78, 78);
    padding: 0;
}
.cardHeader h2{
    padding: 0;
    margin-bottom: 0.1em;
    font-size: clamp(20px, 2vw, 23px)
}
.cardText{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(78, 78, 78);
    font-weight: bold;
    padding-bottom: 10px;;
}
.cardText p{
    padding: 0;
    margin-right: 2rem;
    margin-bottom: 0;
    font-size: clamp(14px, 1.5vw, 18px);
}

@media (max-width: 768px){ /* Tablet styling */
    .cardContainer{
        width: 80vw;
        margin: 1em 2em;
    }
}   