.navContainer {
  display: flex;
  justify-content: space-between; /* pushes name left, socials right */
  align-items: center;
  padding: 1rem 1rem;
  background-color: #536878;
  box-shadow: 0px 2px 5px #1c252c;
  font-family: monospace;
  position:sticky;
  top: 0px;
  bottom: 0px  
}
.navText {
  font-size: 1.5rem;
  margin: 0;
  color: white;
  text-decoration: underline;
}
.navSocials{
  display: flex;
  gap: 1rem; /* controls space between the social links */
  font-size: 1.5rem;
  padding-right: 0.5em;
  cursor: pointer;
}
.navSocials a:hover{
    box-shadow: 0px 2px;
}
.navSocials a:active{
    color: white;
}
.navSocials a{
    color:black;
}
